# check which files are ignored: git status --ignored

archive/
docs/my_notebooks/
docs/figures/my_figures/
.vscode/

development/
environment_long.yml
.coverage
.pre-commit-config.yaml
scripts/info.txt

*.egg-info/
dist/
build/

data/raw/geometries
data/raw/test_params
data/processed/
data/figures/
data/logging.log

__pycache__
.ipynb_checkpoints
