[MASTER]
ignore=tests
jobs=1
load-plugins=
extension-pkg-whitelist=

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0116,  # missing-function-docstring
    C0301,  # line-too-long
    R0903,  # too-few-public-methods
    R0801,  # duplicate-code
    W0511,  # fixme
    R0902,  # too-many-instance-attributes
    R0912,  # too-many-branches
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    R0915,  # too-many-statements
    R0917,  # too-many-positional-arguments
    R0401,  # cyclic-import
    E0401,  # import-error

[REPORTS]
output-format=colorized
reports=no
score=yes

[BASIC]
good-names=
bad-names=
variable-rgx=.*
attr-rgx=.*
argument-rgx=.*
method-rgx=.*
module-rgx=.*
class-rgx=.*
function-rgx=.*


[TYPECHECK]
ignored-modules=
ignored-classes=optparse.Values,thread._local,_thread._local
generated-members=numpy.*,torch.*

[FORMAT]
max-line-length=120
indent-string='    '

[DESIGN]
max-args=7
max-attributes=10
max-locals=20
max-returns=6
max-branches=12
max-statements=50
max-line-length=100
