# Include the README, LICENSE, and other documentation files
include README.md
include installation.md
include LICENSE.txt
include CITATION.bib

# Include requirement files
include requirements/*.txt

# Include the MANIFEST file itself
include MANIFEST.in

# Include all .py files
recursive-include qDNA *.py

# Include specific data files
include qDNA/data/data_paper/*.json
include qDNA/data/figures_paper/*.pdf *.png
include qDNA/data/raw/tb_params/*.json
